<div layout="row" layout-align="center center">
    <h1 timer="data.latestTimestamp"></h1>
</div>

<div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="sitOrStand()">{{toggleButtonString}}</md-button>
</div>

<div layout="row" layout-align="center center" style="margin-top: 10px;"> <!--Move to right of sit/stand button, replace text with pause icon -->
    <md-button class="md-raised" ng-click="pause()">{{pauseButtonString}}</md-button>
</div>

Goal progress:

<div layout="row">
    <md-progress-linear layout-align="center-end" class="md-accent" md-mode="determinate"
                        value="{{GoalTracker.percent}}"></md-progress-linear>
</div>

